<div class="row">
  <div class="col-md-3">
    <%= image_tag @movie.image_url %>

<h3>
  <strong>Name:</strong>
  <%= @movie.name %>
</h3>

<div class="star-rating" data-score= <%= @avg_rating %> ></div>
    <p><%= "#{@reviews.length} reviews" %></p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<%= link_to "Write a Review", new_movie_review_path(@movie), class: "btn btn-primary" %>

<br>
<br>

<div class="col-md-9">
    <% if @reviews.blank? %>
      <h4>No reviews yet. Be the first to write one!</h4>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-3"></th>
            <th class="col-md-9"></th>
          </tr>
        </thead>
        
        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td>
                <h4>
                  <%= "#{review.user.first_name} #{review.user.last_name}." %>
                </h4>
                <p><%= review.created_at.strftime("%-m/%-d/%y") %></p>
              </td>
              
               <td>
                <div class="star-rating" data-score= <%= review.rating %> ></div>
                <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>

                <% if user_signed_in? %>
                  <% if (review.user == current_user) || (current_user.admin?) %>
                    <%= link_to "Edit", edit_movie_review_path(@movie, review) %>
                    <%= link_to "Delete", movie_review_path(@movie, review), method: :delete %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>



<%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-link" %> |
<%= link_to 'Back', movies_path, class: "btn btn-link" %>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/yelpdemo/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
